* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #354A54;
  color: white;
}

h1 {
  text-align: center;
  margin: 3.6rem auto 0rem;
}

.new-to-do-form,
.task {
  width: 80%;
  height: 30px;
  margin: 2rem auto;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
}

.new-to-do-input,
.plus-icon {
  outline: none;
  border: none;
}

.new-to-do-input {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.plus-icon {
  font-size: 24px;
  color: #98AFBA;
  cursor: pointer;
  transition: transform .1s ease-in;
}

.plus-icon:hover {
  transform: scale(1.1);
}

.task {
  color: black;
  font-weight: 500;
  margin: .8rem auto;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
  }

  .new-to-do-form,
  .task {
    height: 40px;
    max-width: 600px;
    margin-top: 2rem;
  }

  .new-to-do-input {
    font-size: 18px;
  }

  .plus-icon {
    font-size: 32px;
  }

  .task {
    margin: .8rem auto;
    font-size: 18px;
  }
}
